<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Handjet:ELSH@2&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap" rel="stylesheet">
        <link href="https://db.onlinewebfonts.com/c/e08adb69e408cb6c1c9e8e50b32e0681?family=Raster" rel="stylesheet" type="text/css"/>

    <!-- CSS -->
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    
    <!-- Phosphor Icons -->
        <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css">

</head>

<body>
    <h1>Components</h1>

    <div class="section-component">
        <h2>Typography</h2>

        <h3>Headings (h1, h2 ...)</h3>
        <article class="component">
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <div class="component__content-code">
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                </div>
            </div>
        </article>
        <h3>Body</h3>
        <article class="component">
            <div class="component__content">
                <p class="component__content-caption">image</p>
                <img srcset="img/section-info_body.png 2x" src="img/section-info_body.png" alt="Body typography defaults">
            </div>
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <p class="component__content-code">Not just a pitch, not just a product...there’s a reason you do what you do. It’s the late nights, the wild ideas, the belief that this thing you’re building actually matters. That’s the story people will connect with. That’s the story worth telling. It’s the story we can craft for you.</p>
            </div>
        </article>
    </div>

    <div class="section-component">
        <h2>Card</h2>
        <article class="component">
            <div class="component__content">
                <p class="component__content-caption">image</p>
                <img src="img/casecard.png" alt="card component">
            </div>
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <div class="component__content-code">
                    <div class="card">
                        <img src="https://cdn.sanity.io/images/92bwk9y2/production/a32a4b8d5c55f8b181cb08cf5a933f0ddfda6c69-12256x10764.png?auto=format&fit=max&q=90&w=4596" alt="strider logo">

                        <div class="card__content">
                            <p class="card__title">Strider</p>
                            <div class="card__content__chips">
                                <p class="card__chip">Art Direction</p>
                                <p class="card__chip">Branding</p>
                                <p class="card__chip">Web Design</p>
                                <p class="card__chip">Web Development</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="section-component">
        <h2>Button</h2>
        <article class="component">
            <div class="component__content">
                <p class="component__content-caption">image</p>
                <img src="img/section-info_button.png" alt="Button component">
            </div>
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <div class="component__content-code">
                    <button class="button">
                        <p class="button__text">Learn more about us</p>
                        <i class="ph ph-arrow-up-right"></i>
                    </button>
                </div>
            </div>
        </article>
    </div>

    <div class="section-component">
        <h2>Nav Bar</h2>
        <article class="component component--stacked">
            <div class="component__content">
                <p class="component__content-caption">image</p>
                <img src="img/navbar.png" alt="Nav Bar component">
            </div>
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <div class="component__content-code">
                    <nav class="nav">
                        <img src="img/Subtract.svg" alt="nav logo">
                        <div class="nav__title-group">
                            <h2 class="nav__title">Award winning</h2>
                            <p class="nav__subtitle">(design)</p>
                            <h2 class="nav__title">agency</h2>
                        </div>
                        <button class="button--menu">
                            <i class="ph ph-list"></i>
                            <p class="button__text">Menu</p>
                        </button>
                    </nav>
                </div>
            </div>
        </article>
    </div>

    <div class="section-component">
        <h2>Menu</h2>
        <article class="component">
            <div class="component__content">
                <p class="component__content-caption">image</p>
                <img src="img/navbar_menu.png" alt="Button component">
            </div>
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <div class="component__content-code">
                    <button class="button--menu">
                        <i class="ph ph-list"></i>
                        <p class="button__text">Menu</p>
                    </button>
                </div>
            </div>
        </article>
    </div>

    <div class="section-component">
        <h2>Footer: Nav</h2>
        <article class="component">
            <div class="component__content">
                <p class="component__content-caption">image</p>
                <img src="img/Footer_nav.png" alt="Footer Nav component">
            </div>
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <div class="component__content-code">
                    <nav class="footer__nav">
                        <img src="img/navbar_logo.svg" alt="nav logo">
                        <div class="footer__nav-links">
                            <a href="#">Our Work</a>
                            <a href="#">About Us</a>
                            <a href="#">Reform Nova</a>
                            <a href="#">Contact Us</a>
                            <a href="#">Careers</a>
                        </div>
                    </nav>
                </div>
            </div>
        </article>
    </div>

    <div class="section-component">
        <h2>Footer: Socials</h2>
        <article class="component">
            <div class="component__content">
                <p class="component__content-caption">image</p>
                <img src="img/Footer_socials.png" alt="Footer Socials component">
            </div>
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <div class="component__content-code">
                    <div class="footer__socials">
                        <a href="#">linkedin</a>
                        <a href="#">instagram</a>
                        <a href="#">awwwards</a>
                        <a href="#">x</a>
                        <a href="#">dribbble</a>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="section-component">
        <h2>Footer: CTA</h2>
        <article class="component component--stacked">
            <div class="component__content">
                <p class="component__content-caption">image</p>
                <img src="img/Footer_CTA.png" alt="Footer CTA component">
            </div>
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <div class="component__content-code">
                    <div class="footer__CTA">
                        <p>Ready to build something with us?</p>
                        <div class="footer__CTA-button">
                            <h1>Let's Chat</h1>
                        <i class="ph ph-arrow-up-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="section-component">
        <h2>Footer: logo</h2>
        <article class="component">
            <div class="component__content">
                <p class="component__content-caption">image</p>
                <img src="img/Footer_Logo.png" alt="Footer Logo component">
            </div>
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <div class="component__content-code">
                    <div class="footer__logo">
                        <img src="img/FooterLogo.98e00533.svg" alt="footer logo">
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="section-component">
        <h2>Footer</h2>
        <article class="component component--stacked">
            <div class="component__content">
                <p class="component__content-caption">image</p>
                <img src="img/footer.png" alt="Footer Logo component">
            </div>
            <div class="component__content">
                <p class="component__content-caption">code</p>
                <div class="component__content-code footer">
                    <div class="footer__top">
                        <nav class="footer__nav">
                            <img src="img/navbar_logo.svg" alt="nav logo">
                            <div class="footer__nav-links">
                                <a href="#">Our Work</a>
                                <a href="#">About Us</a>
                                <a href="#">Reform Nova</a>
                                <a href="#">Contact Us</a>
                                <a href="#">Careers</a>
                            </div>
                        </nav>
                        <div class="footer__CTA">
                            <p>Ready to build something with us?</p>
                            <div class="footer__CTA-button">
                                <h1>Let's Chat</h1>
                            <i class="ph ph-arrow-up-right"></i>
                            </div>
                        </div>
                        <div class="footer__socials">
                            <a href="#">linkedin</a>
                            <a href="#">instagram</a>
                            <a href="#">awwwards</a>
                            <a href="#">x</a>
                            <a href="#">dribbble</a>
                        </div>
                    </div>
                    <div class="footer__logo">
                        <img src="img/FooterLogo.98e00533.svg" alt="footer logo">
                    </div>
                </div>
            </div>
        </article>
    </div>
</body>
</html>

