<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Handjet:ELSH@2&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
        <link href="https://db.onlinewebfonts.com/c/e08adb69e408cb6c1c9e8e50b32e0681?family=Raster" rel="stylesheet" type="text/css"/>

    <!-- CSS -->
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <h1>Components</h1>

    <h2>Typography defaults</h2>

    <article class="component">
        <h3 class="component__name">Body</h3>
        <div class="component__img">
            <img srcset="img/section-info_body.png 2x" src="img/section-info_body.png" alt="Body typography defaults">
        </div>
        <div class="component__code">
            <p>Not just a pitch, not just a product...there’s a reason you do what you do. It’s the late nights, the wild ideas, the belief that this thing you’re building actually matters. That’s the story people will connect with. That’s the story worth telling. It’s the story we can craft for you.</p>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Headings (h1, h2 ...)</h3>
        <div class="component__img">
            <img srcset="img/section-info_heading.png 2x" src="img/section-info_heading.png" alt="headings typography defaults">
        </div>
        <div class="component__code">
            <h2>Your business has a story</h2>
            <h3>Create your vision. Extend your runway.</h3>
        </div>
    </article>
</body>
</html>